.payhubgateway-wrapper { clear: both; margin: 0px auto; max-width: 1024px; min-width: 930px; overflow: hidden; }
a.payhubgateway-logo { display: inline-block; float: left; margin: 0px 90px 0px 0px; }

p.payhubgateway-intro { color: #1F7EC9; font-size: 18px; line-height: 22px; margin: 7px 20px 0px 0px; overflow: hidden; }
p.payhubgateway-intro a:hover { color: #717171; text-decoration: none; }
p.payhubgateway-sign-up {color: #555; text-align: right; font-size: 18px; line-height: 22px; margin: 10px 20px 10px 0px; overflow: hidden; font-weight: bolder;}
p.payhubgateway-intro a, p.payhubgateway-sign-up a { margin-left: 15px; color: #0F4AC7; font-size: 18px; font-weight: bold; text-decoration: underline; text-transform: uppercase; }
p.payhubgateway-sign-up a:hover { color: #0F4AC7; text-shadow: 2px 2px 1px lightgrey }
.payhubgateway-content { border-bottom: #808080 solid 1px; border-top: #808080 solid 1px; clear: both; margin: 15px 0px; padding: 15px 0px; position: relative; overflow: hidden; }
.payhubgateway-content p { color: #808080; font-size: 13px; line-height: 18px; margin-bottom: 15px; }
.payhubgateway-content p.H3 { color: #1F7EC9; font-size: 18px; }
.payhubgateway-content h3 { color: #1F7EC9; font-size: 18px; font-weight: normal; line-height: 20px; letter-spacing: 2px; margin: 0px 0px 15px 0px; text-transform: uppercase; }
.payhubgateway-content ul { list-style: none; margin: 0px 0px 15px 0px; padding: 0px; }
.payhubgateway-content ul li { background: url(../img/bullet.gif) left 7px no-repeat; color: #808080; font-size: 15px; line-height: 20px; margin: 0px; padding: 0px 0px 0px 15px; }
.payhubgateway-content ul.none li { background: none; color: #808080; font-size: 15px; line-height: 20px; margin: 0px; padding: 0px 0px 0px 15px;}
.payhubgateway-leftCol { border-right: #808080 solid 1px; margin-right: 375px; padding-right: 20px; }
.payhubgateway-video { margin: 0px; overflow: hidden; position: absolute; top: 15px; right: 0px; width: 335px; }
.payhubgateway-video p { margin-top: 0px; }
a.payhubgateway-link {background: url(../img/btn-bg.png) left bottom repeat-x; color: #FFF; display: inline-block; font-size: 13px; font-weight: bold; height: 25px; line-height: 25px; margin: 0px 0px 20px 0px; padding: 0px 10px; text-transform: uppercase;-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;}
img.cc-icons { clear: both; display: block; margin: 0px; }

a.payhubgateway-video-btn { display: block; height: 210px; position: relative; width: 335px; }
img.video-icon { position: absolute; left: 134px; top: 70px; }

fieldset h4 { margin-top: 0px; }
fieldset label { clear: left; }
#menuTab {padding: 0; margin: 0; text-align: left; }
#menuTab li { text-align: left; float: left; display: inline; padding: 5px; padding-right: 10px; background: #EFEFEF; font-weight: bold; cursor: pointer; border-left: 1px solid #CCCCCC; border-right: 1px solid #CCCCCC; border-top: 1px solid #CCCCCC; margin-left:5px; height:14px}
#menuTab li img { width: 16px; }
#menuTab li.menuTabButton.selected { background: #FFFFF0; border-left: 1px solid #CCCCCC; border-right: 1px solid #CCCCCC; border-top: 1px solid #CCCCCC; margin-bottom: -1px; padding-bottom: 6px; }
#tabList { clear: left; }
.tabItem { display: none; }
.tabItem.selected { display: block; background: #FFFFF0; border: 1px solid #CCCCCC; padding: 10px; }
.payhubgateway-fixFiedlset .margin-form sup { color: #CC0000; font-weight: bold; margin-left: -5px; vertical-align: text-top; }
.payhubgateway-fixFiedlset input[type="text"] { float: left; margin-right: 10px; }
.payhubgateway-badge { float: right; }
.margin-form { margin-bottom: 5px; }

/* admin page */
div.get-payhub-credentials-section {
	font-style: italic;
	margin: 15px 0;
}

/* payment page */
div.payhubgateway-payment-section { 
	border: solid 1px #ddd;
	border-radius: 4px 4px 0 0;
	box-shadow: none;
	padding: 5px 20px 15px 20px;
}

div.payhubgateway-accepted-cards h3 { 
	font-size: 1em;
	text-align: right; 
}

#ph_security_image {
	margin-top: -3px;
	margin-left: -4px;
	margin-right: 5px;
}

.error-state {
	border-color: red;
	color: red;
}

.error-state:focus {
	border-color: red;
	box-shadow: none;
}

p.processing-error {
	color: red;
	font-weight: bold;
	font-size: 1.3em;
	text-align: center;
	margin: 30px 0;
}

p.processing-error span { font-style: italic; }

/* order completed/confirmation page */
.order-message {
        font-size: 1.8em;
        font-weight: bold;
        text-align: center;
}